/* Fonts */
/* ............................................................................................. */
@font-face {
  font-family: 'Gotham Thin';
  src: url('fonts/Gotham/Gotham-Thin.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/Gotham/Gotham-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham/Gotham-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir/AvenirNextLTPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
/* Variables */
/* ............................................................................................. */
/* General */
/* ............................................................................................. */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gotham Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.page {
  width: 100%;
  height: 100%;
  min-height: 720px;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
}
.page > section {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* Resets */
h1,
h2,
p {
  margin: 0;
}
/* Classes */
.nodisplay {
  display: none;
}
.vert-spacer {
  width: 100%;
  height: 50%;
}
.vert-spacer-fourth {
  width: 100%;
  height: 25%;
}
.vert-spacer-custom {
  width: 100%;
  height: 2%;
}
/* Splash */
/* ............................................................................................. */
#splash {
  background: #911B25;
  /* fallback */
  background-image: url('../img/splash.png');
  background-position: center;
  background-size: cover;
  color: white;
}
#logo {
  width: 230px;
  top: 54px;
  left: 70px;
  position: absolute;
}
#tagline {
  height: 100%;
  margin: -110px 0 0 0;
  display: inline-block;
  padding: 0 70px;
  position: relative;
  text-align: justify;
  font-size: 76px;
  letter-spacing: 0;
  line-height: 110px;
}
#lostitem {
  letter-spacing: 0;
}
#jointhekode {
  position: absolute;
}
#jointhekode > button {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Gotham Light';
  font-size: 24px;
  border: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
}
#jointhekode > button > a {
  width: auto;
  height: 50px;
  padding: 0 17px 0 20px;
  /* -3px to correct for letter-spacing */
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: inherit;
}
#freekodes {
  margin-left: 20px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Gotham Light';
  font-size: 24px;
}
#kode-user {
  height: 640px;
  margin-top: -320px;
  right: 10%;
  position: absolute;
}
/* Information */
/* ............................................................................................. */
.information {
  background: white;
  color: black;
  text-align: center;
  border-bottom: 1px solid #EEE;
  clear: both;
}
.information > section {
  clear: both;
}
.information > section > h2 {
  width: 100%;
  margin: 0 auto;
  top: 84px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 42px;
}
.information-left {
  width: 50%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
.information-right {
  width: 50%;
  height: 100%;
  display: block;
  position: relative;
  float: right;
  overflow: hidden;
}
.container-image {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: relative;
}
#image-sticker {
  height: 300px;
  margin-top: -130px;
}
#image-phone {
  height: 75%;
  right: 128px;
  bottom: 0;
  position: absolute;
}
#image-computer {
  height: 400px;
  margin-top: -180px;
}
.blurb {
  width: 490px !important;
  padding: 0 10px;
  display: block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.blurb > h3,
.blurb > p {
  margin: 0 0 22px 0;
  display: inline-block;
  vertical-align: middle;
}
.blurb > h3 {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ee283b;
}
.blurb > p {
  font-size: 24px;
  line-height: 42px;
}
#blurb-sticker {
  height: 240px;
  margin: -100px auto 0 auto;
}
#blurb-phone {
  height: 430px;
  margin: -165px auto 0 auto;
}
#blurb-computer {
  height: 190px;
  margin: -75px auto 0 auto;
}
.seemore {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  bottom: 0;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 100px;
}
.seemore > a {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.chevron {
  width: 32px;
  display: block;
  opacity: 0.75;
}
.fullopacity {
  opacity: 1;
}
/* Contact */
/* ............................................................................................. */
#contact {
  height: 880px !important;
  background: #1a1e23;
  color: white;
  text-align: center;
}
#contact > section {
  width: 350px;
  height: 520px;
  margin: -300px auto 0 auto;
  display: block;
}
#contact > section > *,
#mc_embed_signup > form > * {
  margin-bottom: 50px !important;
}
#contact > section > h2 {
  padding-left: 6px;
  /* letter-spacing fix */
  text-transform: uppercase;
  font-family: 'Gotham Thin';
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 6px;
}
#contact > section > img {
  width: 20px;
}
.signup-input,
#mc-embedded-subscribe {
  height: auto;
  width: 100%;
  padding: 12px 10px 12px 14px;
  /* letter-spacing fix */
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gotham Light';
  font-size: 16px;
  letter-spacing: 4px;
  border: 1px solid white;
  background: none;
  color: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.mce_inline_error {
  display: none !important;
}
#mc_embed_signup input.mce_inline_error {
  border-color: #ee283b !important;
}
#mc-embedded-subscribe {
  margin: 0;
  background: #ee283b;
  border: 1px solid #ee283b;
  cursor: pointer;
}
#mce-error-response,
#mce-error-success {
  text-transform: uppercase;
  font-weight: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}
#mce-error-response a,
#mce-error-success a {
  color: white;
}
/* Footer */
#contact footer {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  bottom: 0;
  position: absolute;
  text-align: right;
  line-height: 80px;
  background: #ee283b;
  color: white;
}
#contact footer > * {
  display: inline-block;
}
#copyright {
  margin-left: 30px;
  left: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 100;
  color: #8e000e;
}
.sm {
  width: 42px;
  height: 42px;
  display: inline-block;
}
.sm img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#facebook {
  margin-right: 10px;
}
#twitter {
  margin-right: 30px;
}
/* Media Queries */
/* ......................................................................... */
@media only screen and (max-width: 1440px) {
  #tagline {
    font-size: 66px;
    line-height: 98px;
  }
  #jointhekode > button,
  #freekodes {
    font-size: 22px !important;
  }
  .vert-spacer-custom {
    height: 3%;
  }
}
@media only screen and (max-width: 1280px) {
  #tagline {
    font-size: 48px;
    line-height: 84px;
  }
  #jointhekode > button,
  #freekodes {
    font-size: 18px !important;
  }
  .vert-spacer-custom {
    height: 4%;
  }
}
